In [1]:
import pandas as pd

data = pd.read_csv('metadata.csv')

In [2]:
data.describe()

,idInstallation,idInverter,countInverters,idArrays,countArrays,surface,azimuth,typeInstallation,tilt,kWp,departement
count,28408.000000,28408.000000,28408.000000,28408.000000,28408.000000,2.840800e+04,28408.000000,28408.000000,28408.000000,28408.000000,28408.000000
mean,19079.681393,2855.602190,1.734723,4035.710574,22.811743,3.397397e+02,37.611377,0.770030,29.432202,4629.910061,70.572585
std,11217.226996,2078.621742,16.860343,1463.324133,64.102917,4.978444e+04,107.055657,0.837873,11.053433,13097.132802,63.660129
min,1.000000,0.000000,0.000000,51.000000,0.000000,0.000000e+00,-180.000000,0.000000,0.000000,0.000000,-16.000000
25%,9768.750000,594.000000,1.000000,3141.000000,12.000000,1.900000e+01,-25.000000,0.000000,20.000000,2820.000000,32.000000
50%,18447.500000,3289.000000,1.000000,3800.000000,15.000000,2.100000e+01,20.000000,1.000000,30.000000,2960.000000,53.000000
75%,27773.250000,4238.000000,1.000000,5039.000000,18.000000,2.500000e+01,90.000000,1.000000,40.000000,3050.000000,82.000000
max,41071.000000,7357.000000,2800.000000,7405.000000,3430.000000,8.388607e+06,9999.000000,8.000000,99.000000,874650.000000,422.000000

In [3]:
data.head()

,idInstallation,identifiant,idInverter,nameInverter,countInverters,idArrays,nameArrays,countArrays,surface,azimuth,...,tilt,kWp,departement,city,selfConsumption,isIntegrated,dateInstalled,controlled,IGNControlled,GoogleControlled
0,1,OSIBG1RDEDJ,593,SMA - Sunny Boy 2800,1,2120,Sanyo - HIP-215 NKHE1,14,22.0,-20.0,...,20,3010.0,31,Castanet-Tolosan,True,True,2007-09-01,True,True,False
1,10,VTIOIAEQJEC,601,SMA - Sunny Boy 4200 TL,1,2121,Sanyo - HIP-215 NKHE5,20,25.0,-40.0,...,30,4300.0,49,Saint-Barthélemy-d'Anjou,True,True,2007-09-01,True,True,False
2,1001,BWZEK3E9OJAOY,736,Sputnik - SOLARMAX 2000C,1,3110,Sunasol - SLMI140,15,15.0,180.0,...,25,2100.0,69,Décines-Charpieu,True,True,2007-12-01,True,False,False
3,1002,FEIKQ3EAGKXFB,256,Fronius - IG 30,1,2156,Schott - ASE-165-GT-FT/MC/170,18,23.0,10.0,...,20,3060.0,30,Rousson,True,True,2008-09-01,True,False,False
4,1003,NDXQX3EBUEZNO,591,SMA - Sunny Boy 2500,1,1188,Biohaus - Biosol 180 P 50/6+,16,23.0,180.0,...,45,2880.0,35,Andouillé-Neuville,True,True,2008-04-01,True,False,False

In [4]:
data['city']

0                Castanet-Tolosan
1        Saint-Barthélemy-d'Anjou
2                Décines-Charpieu
3                         Rousson
4              Andouillé-Neuville
                   ...
28403                     Lorgies
28404                     Braives
28405                   Rixensart
28406                    Jodoigne
28407                       BREST
Name: city, Length: 28408, dtype: object

In [5]:
cities_list = data['city'].unique()

In [6]:
len(cities_list)

11615